<h1>A Node view-3</h1>
<form action="/node-mongodb-mongoose-user" method="post">
    <input type="text" name="emailBody">
    <button type="submit">Enviar3</button>
</form>
<!-- Busca os dados de usuário -->
<h1> Dados de User Recuperados</h1>
{{ firstNameV }} <br>
{{ lastNameV }} <br>
{{ passwordV }} <br>
{{ emailV }} <br>
{{ messagesV }} <br>
